* {
  font-family: Poppin, sans-serif;
}
a {
  text-decoration: none;
}
input {
  background: transparent;
}
fa-icon {
  color: rgba(176, 176, 176, 0.678);
}
fa-icon:hover {
  transition: ease-in .3s;
  color: white;
}


.brand {
  font-weight: 500;
  color: white;
  font-family: 'Andale Mono';
  padding-left: 10px;
}

.navbar {
  justify-content: space-between;
  height: 8%;
  min-height: 100px !important;
}

.icon {
  padding-top: .5em;
  padding-inline: 1.5em;
}

.nav-link {
  border-radius: 8px;
}

.mat-button {
  font-size: 17px;
  font-weight: 300;
  align-items: center;
  color: gray;
  text-decoration: none;
  display: inline-block;
}

.mat-button:hover {
  transform: scale(1.05);
  transition: ease .5s;
}

.resume {
  color: rgba(176, 176, 176, 0.678) !important;
  margin-top: 1px;
  border-radius: 8px;
  float: right;
  padding: .25em .75em;
}

.resume:hover {
  transition: ease .5s;
  color: white !important;
}

.active {
  color: white;
}

.links {
  display: block;
}

.resume-container {
  width: 80%;
  margin-right: 1.5em;
}

@media (max-width: 450px){
  .icon {
    padding-inline: .75em;
  }
  .brand {
    padding-inline: 0 !important;
  }
}
