<mat-toolbar class="navbar" color="primary">
  <div class="brand"><a routerLink="/home"><img style="margin-left: 0px !important;" src="https://i.imgur.com/movPeo4.png" height="175px"></a></div>
  <div class="resume-container flex">
    <span class="nav-link resume-span"><a class="mat-button resume" style="border: 2px solid black !important;" routerLink="/home" routerLinkActive="active" (click)=openPdf()>Resume</a></span>
  </div>
  <div class="links">
    <span class="nav-link"><a class="mat-button icon" href="https://github.com/WillSlaunwhite" ><fa-icon [icon]="faGithub" size="2x"></fa-icon></a></span>
    <span class="nav-link" style="margin-right: 1em"><a class="mat-button icon" href="https://www.linkedin.com/in/william-slaunwhite-550106190/" style="padding-right: 1em;"><fa-icon [icon]="faLinkedin" size="2x"></fa-icon></a></span>
  </div>
</mat-toolbar>
