<mat-toolbar class="navbar" color="primary">
  <div class="brand"><a routerLink="/home"><img src="https://i.imgur.com/movPeo4.png" height="175px"></a></div>
  <div class="resume-container flex">
    <span class="nav-link resume-span"><a class="mat-button resume" style="border: 2px solid black !important;" routerLink="/home" routerLinkActive="active">Resume</a></span>
  </div>
  <div class="links">
    <span class="nav-link"><a class="mat-button icon" routerLink="/home" routerLinkActive="active" ><fa-icon [icon]="faGithub" size="2x" style="padding-top: 30px"></fa-icon></a></span>
    <span class="nav-link"><a class="mat-button icon" routerLink="/home" routerLinkActive="active" style="padding-right: 1em;"><fa-icon [icon]="faLinkedin" size="2x"></fa-icon></a></span>
  </div>
</mat-toolbar>
