<div class="container">
  <div *ngFor="let project of projects">
    <div class="project-container" *ngIf="project.name === projectName">
      <p class="project-text">
        Project Name: {{project.name}} <br><br>
        {{project.description}}</p>
      <div class="project-image-container">
        <a class="project-link" href="https://github.com/WillSlaunwhite/{{projectName}}">
          <div class="image-container image-tooltip" #tooltip="matTooltip"
            matTooltip="Website's landing page, showing tokens currently available. The UI for this project was created by myself and Dave Roberts."
            [matTooltipShowDelay]="250"
            [matTooltipShowDelay]="150"
            matTooltipPosition="right"
          >

          <img class="project-image img-1" src="{{images.VioletMarketplace[0]}}">
          </div>
        </a>
        <a class="project-link" href="https://github.com/WillSlaunwhite/{{projectName}}">
          <div class="image-container image-tooltip" #tooltip="matTooltip"
            matTooltip="The User's landing page showing their transaction history, favorites and profile details."
            [matTooltipShowDelay]="250"
            [matTooltipHideDelay]="150"
            matTooltipPosition="right"
          >

            <img class="project-image img-2" src="{{images.VioletMarketplace[1]}}">
          </div>
        </a>
        <a class="project-link" href="https://github.com/WillSlaunwhite/{{projectName}}">
          <div class="image-container image-tooltip" #tooltip="matTooltip"
            matTooltip="The contributors to the original project."
            [matTooltipShowDelay]="250"
            [matTooltipHideDelay]="150"
            matTooltipPosition="right"
          >

            <img class="project-image img-3" src="{{images.VioletMarketplace[2]}}">
          </div>
        </a>
        <!-- <a class="project-link" href="https://github.com/WillSlaunwhite/{{projectName}}">
          <div class="image-container image-tooltip" #tooltip="matTooltip"
            matTooltip="The original project was dependant on a large external package for styling, so I'm currently rewritting the project using Angular Material"
            [matTooltipShowDelay]="250"
            [matTooltipHideDelay]="150"
            matTooltipPosition="right"
          >

            <img class="project-image img-4" src="{{images.VioletMarketplace[3]}}">
          </div>
        </a> -->
      </div>
    </div>
  </div>
</div>
