* {
  background-color: rgb(7, 21, 36);
  text-decoration: none;
}
p {
  color: white;
  padding: 1em;
  justify-self: flex-end;
  width: 55%;
  margin-left: 0;
}
img {
  border-radius: 15px;
  width: 100% !important;
  min-width: 450px ;
  max-width: 450px;
  height: 22vh;
}

.project-container,
.project-image-container {
  display: flex;
  flex-direction: column;
}

.project-link:nth-of-type(3) {
  align-self: center;
  position: absolute;
  margin-left: -7.5%;
}

.project-link:nth-of-type(4) {
  position: fixed;
  top: 57%;
  align-self: center;
  margin-left: -7.5%;
}

.project-text {
  align-self: flex-end;
  background: transparent;
  font-weight: 300;
  word-spacing: .2em;
  line-height: 1.5;
  margin: 0 5%;

}
.container {
  height: 100vh;
}



.project-link {
  margin: 2em 5% .5em;
  width: 25%;
  display: flex;
}

.image-container {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
}


::ng-deep .mat-tooltip {
  /* your own custom styles here */
  /* e.g. */
  position: relative;
  left: 4em;
  bottom: 5.5em;
  font-size: small !important;
  line-height: 1.5;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1em !important;
  background-color: #3f51b5;
}

::ng-deep .mat-tooltip:nth-of-type(2) {
  bottom: 5em !important;
  background-color: #35335c;

}



.project-image-container:hover img:hover {
  transform: scale(1.25);
  transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  /* opera */
  -ms-transition: ease-in-out .5s;
  /* IE 10 */
  -moz-transition: ease-in-out .5s;
  /* Firefox */
  -webkit-transition: ease-in-out .5s;
  /*safari and chrome */

}

img {
  transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  /* opera */
  -ms-transition: ease-in-out .5s;
  /* IE 10 */
  -moz-transition: ease-in-out .5s;
  /* Firefox */
  -webkit-transition: ease-in-out .5s;
  /*safari and chrome */

}
