* {
  background-color: rgb(7, 21, 36);
  text-decoration: none;
}
p {
  color: white;
}
img {
  border-radius: 15px;
}

.project-container {
  background-color: lightblue;
}

.project-image-container:hover .project-image:hover {
  transform: scale(1.25);
  transition:   ease-in-out .75s;
  -o-transition:   ease-in-out .75s; /* opera */
  -ms-transition:   ease-in-out .75s; /* IE 10 */
  -moz-transition:   ease-in-out .75s; /* Firefox */
  -webkit-transition:   ease-in-out .75s; /*safari and chrome */
}

.project-image-container:hover .second-project-image:hover {
  transform: scale(1.25);
  transition:   ease-in-out .75s;
  -o-transition:   ease-in-out .75s; /* opera */
  -ms-transition:   ease-in-out .75s; /* IE 10 */
  -moz-transition:   ease-in-out .75s; /* Firefox */
  -webkit-transition:   ease-in-out .75s; /*safari and chrome */

}
.project-image, .second-project-image {
  transition:   ease-in-out .5s;
  -o-transition:   ease-in-out .5s; /* opera */
  -ms-transition:   ease-in-out .5s; /* IE 10 */
  -moz-transition:   ease-in-out .5s; /* Firefox */
  -webkit-transition:   ease-in-out .5s; /*safari and chrome */

}
// .project-image:hover + .second-project-image {
//   transform: scale(.75);
//   transition: ease-in-out 1s;
// }
// .second-project-image:hover {
//   transform: scale(1.25);
//   transition: ease-in-out 1s;
// }
// .second-project-image:hover .project-image-container + .project-image{
//   transform: scale(.75);
//   transition: ease-in-out 1s;
// }


// .project-image:hover .second-project-image {
//   transform: scale(.75);
//   transition: ease 1s;
// }

// .second-project-image:hover .project-image-container:hover {
//   transform: scale(1.25);
//   transition: ease 1s;
// }
// .project-image-container:hover .project-image {
//   transform: scale(.75);
//   transition: ease 1s;
// }




.project-image, .second-project-image {
  width: 30%;
  margin: auto 5%;
}

.project-container, .project-image-container {
  display: flex;
  flex-direction: column;
}

.project-text {
  align-self: flex-end;
  background: transparent;
  font-weight: 300;
  margin: 0 10%;
}

.container {
  height: 100vh;
}

