<div class="container">
  <mat-grid-list cols="3" rowHeight="8%" >
    <mat-grid-tile rowspan="14">
      <mat-card class="violet-market">
        <img mat-card-image src="https://i.imgur.com/166UgKm.jpg" />
        <p style="color: white">
          Violet Marketplace - Final Project (Java Spring/Angular)
        </p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="14">
      <mat-card class="out-the-door">
        <img mat-card-image src="https://i.imgur.com/JpypljN.jpg" />
        <p style="color: white">OutTheDoor - Midterm Project (JDBC/JSPs)</p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="14">
      <mat-card class="the-bet">
        <img mat-card-image src="https://i.imgur.com/dYbFXm7.jpg" />
        <p style="color: white">TheBet - Final Project (Java Spring/Angular)</p>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
