<div class="container">
  <div class="mask-custom" style="">
    <div class="navbar">
      <div class="links">
        <span class="nav-link"><a class="mat-button icon" href="https://github.com/WillSlaunwhite" ><fa-icon [icon]="faGithub" size="2x"></fa-icon></a></span>
        <span class="nav-link" style="margin-right: 1em"><a class="mat-button icon" href="https://www.linkedin.com/in/william-slaunwhite-550106190/"><fa-icon [icon]="faLinkedin" size="2x"></fa-icon></a></span>
        <span class="nav-link resume-span"><a class="mat-button resume" style="border: 2px solid black;" routerLink="/home" routerLinkActive="active" (click)=openPdf()>Resume</a></span>
      </div>
    </div>
  <h1 class="about-me about-me-header">Will Slaunwhite</h1>
  <p class="about-me about-me-body">
    Hello! My name is Will, I'm a full-stack developer in the Bay Area. I'm an assistant instructor at Skill Distillery where I help students learn topics from basic Java syntax to building their own full stack applications with Spring Boot and Angular.<br><br>
    I'm passionate about education and the impact bootcamps an have on those who dream of a better life for themselves.
    I love learning about the future of engineering, from web3 to machine learning, and am excited to find an opportunity to contribute to something I'm passionate about.
    When I'm not working, I enjoy spending my time rock climbing, listening to music and hanging out with my cat.
  </p>
  <div class="card-container">
    <div class="vm card">
      <a class="project-link" href="https://github.com/WillSlaunwhite/VioletMarketplace">
        <img src="https://i.imgur.com/SW99Byg.png" alt="violet marketplace image">
      </a>
        <p class="card-text">
          Violet Marketplace - Team based Final Project, market where users can buy and exchange NFTs (Java Spring/Angular)
        </p>
    </div>
    <div class="otd card">
      <a class="project-link" href="https://github.com/WillSlaunwhite/MidtermProject">
        <img src="https://i.imgur.com/JpypljN.jpg" alt="out the door image">
      </a>
        <p class="card-text">
          OutTheDoor - Team based Midterm Project that show's local outdoor activities (JDBC/JSPs)
        </p>
    </div>
  </div>
</div>
