p {
  text-align: center;
} a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
} img {
  flex: 1;
  width: 500px;
  border-radius: 15px;
  transition: ease .5s;
  &:hover {
    transform: scale(1.03);
    transition: ease .5s;
  }
}


.container {
  background-image: url("https://bl3301files.storage.live.com/y4m09o86Jonodo56CSbwHcRpggJ7QfEY6YIS4jHgJxnWo214sjRmPqH-khbmo8EmFiKq6vdFn-lJTF2eY00ddjHh6oo_O8Se_3Ag7z3hC5kGO3VZAdlcZOIIrjhiPWRRPmbLkapczl386b94K8E6-jtJcfLDKtQWjQH0xkPtI5JeU9GycETSzxuQVTYr0J3OCaL?width=3648&height=2736&cropmode=none");
  background-size: 100vw 100vh;
  height: 100vh;

}

.card-container {
  display: flex;
  // height: 50%;
  justify-content: center;
  margin-top: 5rem;
}

.card {
  flex: 1;
  flex-shrink: 1;
  justify-content: center;
  border-radius: 15px;
  transition: ease-in-out .5s;
  min-width: 25%;
}

.card-text {
  width: 80%;
}

.about-me {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 1em;
}

.about-me-header {
  font-family: 'Andale Mono';
  font-weight: 500;
  color: white;
  margin-top: 0px;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: .75em;
}

.about-me-body {
  letter-spacing: 2.5px;
  font-size: 22px;
  color: white;
  text-align: center;
  padding-inline: 20%;
}


@media(max-width: 1080px) {
  .about-me-header{
    font-size: x-large;
    padding: .5em 0;
  }
  .about-me-body {
    font-size: small!important;
    padding-inline: 10%;
  }
  img {
    height: 20vh;
    width: 70vw;
  }
  .card-container {
    align-items:center;
    flex-direction: column;
  }
  .card-text {
    font-size: smaller !important;
  }
  .vm {
    margin-top: 20%;
  }
  .otd{
    display: none;
  }
}

@media (max-height: 800px) {
  .card-container{
    justify-content: flex-start ;
  }
  img {
    height: 60%;
  }
  .about-me-body{
    font-size: xx-small !important;
  }
}


// NAVBAR
* {
  font-family: Poppin, sans-serif;
}
input {
  background: transparent !important;
}
fa-icon {
  color: rgba(176, 176, 176, 0.678);

  &:hover {
    transition: ease .3s;
    color:white;
  }
}
mat-toolbar {
  background-color: transparent !important;
}

.navbar {
  display: flex;
  justify-content: space-around;
  min-height: 100px !important;
}

.links {
  display: flex;
  width: 100%;
  justify-content: flex-end ;
}

.nav-link {
  border-radius: 8px;
}

.mat-button {
  font-size: 17px;
  font-weight: 300;
  align-items: center;
  color: gray;
  text-decoration: none;
  display: inline-block;
  transition: ease .15s;
  margin-top: .25rem;
}

.icon {
  padding-top: .5em;
  padding-inline: 1.5em;
}

.resume-span {
  margin-left: .5em;
  margin-right: 1.25em;
}

.resume {
  color: rgba(176, 176, 176, 0.678) !important;
  margin-top: .5rem;
  border-radius: 8px;
  padding: .5em .75em;
  transition: ease .3s;
  &:hover {
    transition: ease .15s;
    transform: scale(1.0025);
    color: white !important;
  }
}


@media (max-width: 450px){
  .icon {
    padding-inline: .5em;
  }
  .brand {
    padding-inline: 0 !important;
  }
}
