/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Nunito:wght@200;300;400;600;800&family=Ubuntu:wght@300&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  background: url("https://i.imgur.com/fNoykKJ.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(0.12rem) brightness(0.25) contrast(1) grayscale(0.15) saturate(1.4) !important;
}